* {
    margin: 0;
    padding: 0:
}
.content {
    background-color: yellow;
    /*float: left;*/
    width: 50%;
    margin: 0 auto;
}
.clearfix:after{
    content: ' ';
    clear: both;
    display: block;
}
.footer {
    background-color: red;
    clear: both;
}
.header {
    background-color: grey;
}
.menu li {
    float: left;
    list-style: none;
    margin: 5px;
    padding: 5px;
    border: 1px;
    border: 1px solid #000;
}
.menu {
    color: #000;
    background-color: green;
    position: relative;
    overflow: hidden;
}
.menu:after {
    content: ' ';
    clear: both;
    display: block;
}
.news {
    float: right;
    background-color: black;
    color: white;
    width: 25%;
}
.sidebar {
    background-color: green;
    float: left;
    width: 25%;
}
p {
    transition: 3s
}
